.capsuleContainer {
  width: fit-content;
  padding: 5px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #fcfaf3;
  border-radius: 20px;
}
.capsuleTitle {
  font-family: "GT America Mono", sans-serif;
  color: #fcfaf3;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 100;
}
